name: Tst
on:
  workflow_dispatch: # اجرای دستی برای تست

jobs:
  earn-bandwidth:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Docker and Run Tzer
        run: |
          docker run -d --name tm_worker traffmonetizer/cli_v2:latest start accept --token "${{ secrets.TRAFF_TOKEN }}"
          
          echo "Worker started. Running for 5.5 hours to check stats..."
          
          sleep 19800 
          
          docker logs tm_worker
